@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?pwtxay");
  src: url("fonts/icomoon.eot?pwtxay#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?pwtxay") format("truetype"),
    url("fonts/icomoon.woff?pwtxay") format("woff"),
    url("fonts/icomoon.svg?pwtxay#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-night:before {
  content: "\e917";
}
.icon-sun:before {
  content: "\e918";
}
.icon-prize:before {
  content: "\e90f";
}
.icon-inbox:before {
  content: "\e915";
}
.icon-language:before {
  content: "\e916";
}
.icon-calendar-_5:before {
  content: "\e908";
}
.icon-calendar-_4:before {
  content: "\e909";
}
.icon-calendar-_2:before {
  content: "\e90c";
}
.icon-calendar-_3:before {
  content: "\e90d";
}
.icon-calendar-_1:before {
  content: "\e90e";
}
.icon-reshot-icon-arrow-chevron-right-WDGHUKQ634:before {
  content: "\e907";
}
.icon-plus-svgrepo-com-1:before {
  content: "\e906";
}
.icon-heart-svgrepo-com:before {
  content: "\e903";
}
.icon-three-dots-punctuation-sign-svgrepo-com:before {
  content: "\e904";
}
.icon-icons8-close:before {
  content: "\e900";
}
.icon-icons8-menu-bar:before {
  content: "\e901";
}
.icon-home3:before {
  content: "\e902";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-eyedropper:before {
  content: "\e90a";
}
.icon-droplet:before {
  content: "\e90b";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-music:before {
  content: "\e911";
}
.icon-play:before {
  content: "\e912";
}
.icon-film:before {
  content: "\e913";
}
.icon-video-camera:before {
  content: "\e914";
}
.icon-book:before {
  content: "\e91f";
}
.icon-books:before {
  content: "\e920";
}
.icon-file-zip:before {
  content: "\e92b";
}
.icon-paste:before {
  content: "\e92d";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-folder-plus:before {
  content: "\e931";
}
.icon-folder-minus:before {
  content: "\e932";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-pushpin:before {
  content: "\e946";
}
.icon-location:before {
  content: "\e947";
}
.icon-history:before {
  content: "\e94d";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-clock2:before {
  content: "\e94f";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-bell:before {
  content: "\e951";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-bubbles3:before {
  content: "\e96f";
}
.icon-user:before {
  content: "\e971";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-user-minus:before {
  content: "\e974";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-key2:before {
  content: "\e98e";
}
.icon-cog:before {
  content: "\e994";
}
.icon-pie-chart:before {
  content: "\e99a";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-list-numbered:before {
  content: "\e9b9";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-flag:before {
  content: "\e9cc";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-bookmark:before {
  content: "\e9d2";
}
.icon-bookmarks:before {
  content: "\e9d3";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-happy:before {
  content: "\e9df";
}
.icon-smile:before {
  content: "\e9e1";
}
.icon-tongue:before {
  content: "\e9e3";
}
.icon-sad:before {
  content: "\e9e5";
}
.icon-wink:before {
  content: "\e9e7";
}
.icon-grin:before {
  content: "\e9e9";
}
.icon-cool:before {
  content: "\e9eb";
}
.icon-angry:before {
  content: "\e9ed";
}
.icon-evil:before {
  content: "\e9ef";
}
.icon-shocked:before {
  content: "\e9f1";
}
.icon-baffled:before {
  content: "\e9f3";
}
.icon-confused:before {
  content: "\e9f5";
}
.icon-neutral:before {
  content: "\e9f7";
}
.icon-hipster:before {
  content: "\e9f9";
}
.icon-wondering:before {
  content: "\e9fb";
}
.icon-sleepy:before {
  content: "\e9fd";
}
.icon-frustrated:before {
  content: "\e9ff";
}
.icon-crying:before {
  content: "\ea01";
}
.icon-question:before {
  content: "\ea09";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-table2:before {
  content: "\ea71";
}
.icon-google:before {
  content: "\ea88";
}
.icon-appleinc:before {
  content: "\eabe";
}
