:root {
  --btnColor: hsl(345, 100%, 70%);
  --bg-dark: #242424;
  --bg-header: #242424;
  --border-color: rgba(208, 208, 208, 0.2);
}

/* Сбрасываем стандартные обертки */
.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker__input-container {
  width: 100%;
}

/* Основной контейнер */
.react-datepicker {
  background-color: var(--bg-dark) !important;
  border: none !important;
  border-radius: 12px !important;
  font-family: inherit !important;
  color: #fff !important;
  display: flex !important;
}

/* Убираем дефолтный треугольник сверху */
.react-datepicker__triangle {
  display: none !important;
}

/* HEADER (Месяц и год) */
.react-datepicker__header {
  background-color: var(--bg-header) !important;
  border-bottom: 1px solid var(--border-color) !important;
  border-top-left-radius: 12px !important;
  border-top-right-radius: 0 !important; /* если кнопки справа */
  /* margin-top: 15px !important; */
  /* margin: 2em 0; */
  /* padding-bottom: 15px !important; */
}

.react-datepicker__current-month {
  color: #fff !important;
  font-size: 0.95rem !important;
  margin-bottom: 10px !important;
}

.react-datepicker__day-names {
  margin-bottom: -8px !important;
}

.react-datepicker__day-name {
  color: #666 !important;
  font-weight: 500 !important;
  width: 2.2rem !important;
}

/* ДНИ */
.react-datepicker__month {
  margin: 0.8rem !important;
}

.react-datepicker__day {
  color: #ccc !important;
  width: 2.2rem !important;
  line-height: 2.2rem !important;
  border-radius: 50% !important; /* Круглые как на скрине */
  margin: 0.1rem !important;
}

/* Текущий день (обводка как на скрине) */
.react-datepicker__day--today {
  color: var(--btnColor) !important;
  background: transparent !important;
}

/* Выбранный день */
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: var(--btnColor) !important;
  color: #fff !important;
  border: none !important;
}

.react-datepicker__day:hover:not(.react-datepicker__day--disabled) {
  background-color: rgba(255, 100, 139, 0.15) !important;
  color: #fff !important;
}

/* Неактивные дни (прошлые) */
.react-datepicker__day--disabled {
  color: #444 !important;
}

.react-datepicker__day--outside-month {
  color: #333 !important;
}

/* НАВИГАЦИЯ (Стрелки) */
.react-datepicker__navigation {
  top: 15px !important;
}

.react-datepicker__navigation--previous {
  left: 10px !important;
  top: 0em !important;
}
.react-datepicker__navigation--next {
  right: 10px !important;
  top: 0em !important;
}

.react-datepicker__navigation-icon::before {
  border-color: #777 !important;
  border-width: 2px 2px 0 0 !important;
}
.custom-time-picker .react-datepicker {
  background-color: #222 !important;
  border: 1px solid #444 !important;
  color: white !important;
}
.custom-time-picker .react-datepicker__time-container {
  width: 100px !important;
}
.custom-time-picker .react-datepicker__time-list-item:hover {
  background-color: #ff648b !important;
}
